**
!package.json
!package-lock.json
!.npmrc
!run.cjs
!holder.cjs
!runtime/
!runtime/**
!config/
!config/testnet.json
!server/
!server/**
!local-client/
!local-client/client.cjs
!views/
!views/**
!public/
!public/**
**/.env*
**/*.db
**/*.sqlite*
**/*.pem
**/*.key
